html { 
  overflow-y:scroll;
}

body{
  font-size: 11px;
}

.page-header {
  padding-bottom: 1px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.page-header > h1{
  font-size: 25px;
  font-weight: bold;
}		

label {
  margin-bottom: 0px;
}
.table {
  margin-bottom: 0px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 0px solid #dddddd;
}


.table > thead > tr > td.label-td,
.table > tbody > tr > td.label-td,
.table > tfoot > tr > td.label-td{
  width: 15%;
}

.table > thead > tr > td.input-td,
.table > tbody > tr > td.input-td,
.table > tfoot > tr > td.input-td{
  width: 35%;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #F0F6FB;
}



.multirow-table{
  border: 1px solid #C4DAF0;	
}

.multirow-table > thead > tr > th,
.multirow-table > tbody > tr > th,
.multirow-table > tfoot > tr > th,
.multirow-table > thead > tr > td,
.multirow-table > tbody > tr > td,
.multirow-table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 0px solid #dddddd;
  border-left: 1px solid #C4DAF0;
}


.multirow-table > thead > tr > th,
.multirow-table > tbody > tr > th,
.multirow-table > tfoot > tr > th{
  padding: 5px;
  padding-bottom: 0px;
  line-height: 1.428571429;
  vertical-align: bottom;
  border-bottom: 1px solid #C4DAF0;
}

.multirow-table > thead > tr > th{
  text-align: center;
}
.multirow-table > thead > tr > th > a,
.multirow-table > tbody > tr > td > a{
  color: #000;
  text-decoration: underline;
}

.multirow-table > tbody > tr:nth-child(even) > td,
.multirow-table > tbody > tr:nth-child(even) > td.multirow-sys-td,
.multirow-table > tbody > tr:nth-child(even) > th {
  background-color: #F0F6FB;
}

.multirow-table > tbody > tr:hover,
.multirow-table > tbody > tr:nth-child(even):hover > td,
.multirow-table > tbody > tr:nth-child(even):hover > th {
  background-color: #d0e9c6;
}

.multirow-sys-td {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.multirow-sys-td  input[type="checkbox"] {
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}

.btn-group-sm > .btn {
  padding: 1px 4px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

	

.btn-default {
  border-color: transparent;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #ebebeb;
  border-color: transparent;
}


.nav > li > a {
  padding: 2px 12px;
}

input[type="checkbox"] {
  margin:  0px 0 0;
}


.panel-heading {
  padding: 2px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;  
}

.panel-default > .panel-heading {
  color: #000;
  background-color: #A9C9E9;
}

.block .panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0px;
  border: solid 0px transparent;
  border-bottom: solid 1px transparent;
}

.panel-title {
  font-size: 11px;
  font-weight: bold;
}

.panel-body {
  padding: 0px; 
}

.block .panel-group{
  padding-top: 0px;
  border: solid 1px #bbb;
  border-top: solid 0px transparent;
  margin-bottom: 5px;
}
.panel-group .panel + .panel {
  margin-top: 0px;
}

.panel-default{
  border-color: transparent;
}

.panel-heading > a {
  text-decoration: none;
  color: #000;
}


.dropdown-menu {
  min-width: 120px;
  padding: 2px 0;
  margin: 0px 0 0;
  font-size: 11px;
  text-align: left;
}

.dropdown-menu > li > a {
  padding: 1px 15px;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #F0F6FB;
}

.dropdown-menu .divider {
  margin: 1px 0;

}

.table-shortcut .dropdown-menu {
  min-width: 80px;
}

.commandbar{
  background-image: url(../image/commandbar.gif);
  background-repeat: repeat-x;
  background-position: center;
  border: solid 1px #bbb;
}
.img-checkbox-checked{
  background-image: url(../image/checkbox_checked.gif);
  background-position: center;
  width: 15px;
  content:" ";
}	

.block{
 margin-bottom: 1px;
}

.block .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0px solid transparent;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #F0F6FB;
  color: #000;
  font-weight: bold;
  cursor: default;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000;
  font-weight: bold;
  cursor: default;
  background-color: #A9C9E9;
  border: 0px solid #dddddd;
  border-bottom-color: transparent;
}


input.text,textarea.text,input.inputform,textarea.inputform{
  border:1px solid;
  border-color:#474E66 #E7E8ED #E7E8ED #474E66;
  padding:0px 4px 0px 4px;}
input.text:focus,textarea.text:focus{
  border:1px solid;
  border-color:#002276 #4A5F9A #4A5F9A #002276;
  background-color:#EBF5FF;}
input.readonly,input.readonly:focus{
  background-color:#F1F2F6;
  border-color:#474E66 #E7E8ED #E7E8ED #474E66;
  padding:0px 4px 0px 4px;}
  
.shortcut-img{
	vertical-align: top;
}


textarea{
	width:100%;
}

